@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* Breakpoints */
@-webkit-keyframes visitedAnimation {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }
  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}
@keyframes visitedAnimation {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }
  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

@-webkit-keyframes visitedObjectAnimation {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    background-color: rgba(41, 4, 24, 0.75);
    border-radius: 100%;
  }
  50% {
    background-color: rgba(97, 0, 20, 0.75);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-color: rgba(216, 5, 141, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: rgba(178, 67, 255, 0.75);
  }
}

@keyframes visitedObjectAnimation {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    background-color: rgba(41, 4, 24, 0.75);
    border-radius: 100%;
  }
  50% {
    background-color: rgba(97, 0, 20, 0.75);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-color: rgba(216, 5, 141, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: rgba(178, 67, 255, 0.75);
  }
}

@-webkit-keyframes triangletwo {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    background-color: #fffe6a;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-color: #fffe6a;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #fffe6a;
  }
}

@keyframes triangletwo {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    background-color: #fffe6a;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-color: #fffe6a;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #fffe6a;
  }
}

@-webkit-keyframes wallAnimation {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    background-color: #0c3547;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-color: #0c3547;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #0c3547;
  }
}

@keyframes wallAnimation {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    background-color: #0c3547;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-color: #0c3547;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #0c3547;
  }
}

@-webkit-keyframes specialNodes {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes specialNodes {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: black;
  line-height: 1.3;
}

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.15;
  margin-top: 0;
}

.br {
  border: 2px solid red;
}

.bg-r {
  background-color: red;
}

.bg-y {
  background-color: yellow;
}

.bg-b {
  background-color: #802bb1;
}

.bg-g {
  background-color: green;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 118rem;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex--d-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex--jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex--jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex--jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex--ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header a {
  -webkit-transition: color 300ms ease-in;
  transition: color 300ms ease-in;
}

.header a:hover {
  color: aqua;
}

.header .row {
  height: 50px;
  background-color: #802bb1;
  border-radius: 5px;
}

.header__title a h2 {
  text-transform: uppercase;
  font-weight: 900;
}

.header__config {
  position: relative;
}

.header__config .ul-config {
  background-color: rgba(17, 122, 114, 0.6);
  border-radius: 5px;
  padding-right: 10px;
}

.header__config .ul-config > li {
  margin-left: 15px;
}

.header__config ul.dropdown-menu {
  min-width: 120px;
}

.header__btn .btn {
  background-color: #1ecfee;
  padding: 5px 30px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 900;
}

.header__btn .btn:hover {
  background-color: rgba(30, 207, 238, 0.8);
  color: #fff;
}

.header .li-main {
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.header .li-main:hover .down-arrow {
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  top: 10px;
  border-top-color: turquoise;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.header .dropdown-menu {
  display: none;
  position: absolute;
  top: 110%;
  left: 10%;
  min-width: 210px;
  height: auto;
  padding: 5px;
  z-index: 1000;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 15px #1f1525;
          box-shadow: 1px 1px 15px #1f1525;
  background-color: rgba(253, 253, 253, 0.9);
}

.header .dropdown-menu li {
  display: block;
  margin-bottom: 5px;
}

.header .dropdown-menu li:hover {
  background-color: #cad0d1;
}

.header .dropdown-menu a {
  color: black;
  padding: 5px;
}

.header .dropdown-menu.active {
  display: block;
}

.header .down-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid rgba(253, 253, 253, 0.4);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  position: absolute;
  top: 0px;
  right: -15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.description ul {
  height: 40px;
  background-color: #e0f5f5;
  padding: 0 10px;
  border-radius: 5px;
}

.description ul div {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  vertical-align: middle;
}

.start {
  background-image: url("/img/icons/triangletwo-right.svg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: specialNodes 1500ms ease-in-out alternate 1 forwards running;
          animation: specialNodes 1500ms ease-in-out alternate 1 forwards running;
}

.target {
  background-image: url("/img/icons/circle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: specialNodes 1500ms ease-in-out alternate 1 forwards running;
          animation: specialNodes 1500ms ease-in-out alternate 1 forwards running;
}

.weighted {
  background-image: url("/img/icons/weight.svg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: specialNodes 1500ms ease-in-out alternate 1 forwards running;
          animation: specialNodes 1500ms ease-in-out alternate 1 forwards running;
}

.unvisited {
  background-color: #fff;
  border: 1px solid #afd8f8;
}

.visited {
  background-color: azure;
  border: 1px solid #afd8f8;
  -webkit-animation: visitedAnimation 1500ms ease-in-out alternate 1 forwards running;
          animation: visitedAnimation 1500ms ease-in-out alternate 1 forwards running;
}

.visitedObject {
  background-color: azure;
  border: 1px solid #afd8f8;
  -webkit-animation: visitedObjectAnimation 1500ms ease-in-out alternate 1 forwards running;
          animation: visitedObjectAnimation 1500ms ease-in-out alternate 1 forwards running;
}

.shortest-path {
  background-color: azure;
  -webkit-animation: triangletwo 1500ms ease-in-out alternate 1 forwards running;
          animation: triangletwo 1500ms ease-in-out alternate 1 forwards running;
}

.wall {
  background-color: #000;
  -webkit-animation: wallAnimation 300ms ease-in-out alternate 1 forwards running;
          animation: wallAnimation 300ms ease-in-out alternate 1 forwards running;
}

.selecteditems {
  font-size: 1rem;
}

.selecteditems .row {
  color: aliceblue;
  padding: 5px;
}

.selecteditems .row div {
  margin-right: 20px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(46, 103, 153, 0.603);
}

.map #tableMap {
  margin: 10px auto 10px;
}

.map #tableMap td {
  border: 1px solid #afd8f8;
  width: 25px;
  height: 25px;
  padding: 0px;
}

.map table {
  border-spacing: 0;
  border-collapse: collapse;
}
/*# sourceMappingURL=main.css.map */